<!DOCTYPE html>
<html>
    <head>
        <title>photos</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Merienda" rel="stylesheet">
            <style>
            .footer {
               position: fixed;
               left: 0;
               right: 0;
               bottom: 0;
               width: 100%;
               background-color: white;
               color: #605757;
               padding-bottom: 2px;
               padding-top: 4px;
               font-size: 1.2vw;
               text-align: center;
               font-family: 'Merienda', cursive;
               
            }
        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-light navbar-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-brand">
                        <a style="text-decoration: none;" href="/">Photos</a>
                    </div>
                </div>
        
            </div>
        </nav>