<% include partials/header %>
<style>
    body{
        background-color: #474040;
    }
</style>
    
    <div style="width: 40%;margin: 10% auto;" class="container">
    <div class="jumbotron" style="background-color: #474040;">
        <h1 style="text-align: center;font-size: 3vw;font-family: 'Merienda', cursive;">Photos</h1>
        <form action="/results" method="GET">
            <div>
            <div class="form-group">
                <input class="form-control" type="text" name="query" placeholder="Search Here...." autofocus></div>
            <div class="form-group">
                <input class="btn btn-success btn-lg btn-block" type="submit" value="Search"></div>
            </div>
        </form>
    </div>
    </div>
<footer class="footer container">
        <p>Made with &#9829; by Ambuj</p>
    </footer>

<% include partials/footer %>